<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>filter1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	<filter>
		<display-name>CacheFilter</display-name>
		<filter-name>CacheFilter</filter-name>
		<filter-class>top.zhwei.web.filter.CacheFilter</filter-class>
		<init-param>
			<param-name>png</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>css</param-name>
			<param-value>10</param-value>
		</init-param>
		<init-param>
			<param-name>js</param-name>
			<param-value>20</param-value>
		</init-param>
		<init-param>
			<param-name>jsp</param-name>
			<param-value>-1</param-value>
		</init-param>
<!--			<filter>-->
<!--				<display-name>NoCacheFilter</display-name>-->
<!--				<filter-name>NoCacheFilter</filter-name>-->
<!--				<filter-class>top.zhwei.web.filter.NoCacheFilter</filter-class>-->
<!--			</filter>-->
	</filter>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
<!--	<filter-mapping>-->
<!--		<filter-name>NoCacheFilter</filter-name>-->
<!--		<url-pattern>*.jsp</url-pattern>-->
<!--		<dispatcher>REQUEST</dispatcher>-->
<!--		<dispatcher>FORWARD</dispatcher>-->
<!--	</filter-mapping>-->

</web-app>